<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="style-card">
    <mat-card-header
      class="mat-elevation-z2"
      fxLayout="row"
      fxLayoutAlign="center"
    >
      <mat-card-title class="style-card-title">تواصل معنا</mat-card-title>
    </mat-card-header>
    <mat-card-content class="style-card-content">
      <form class="style-form" [formGroup]="connectUsForm">
        <mat-form-field class="full-width">
          <mat-label>عنوان الرسالة</mat-label>
          <input matInput formControlName="msgTitle" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>محتوى الرسالة</mat-label>
          <textarea matInput rows="10" formControlName="msgContent" required>
          </textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="style-card-actions">
      <ng-template #bottons>
        <button
          mat-raised-button
          color="primary"
          style="width: 100%; margin: 10px 0px"
          (click)="send()"
        >
          حفظ وإرسال
        </button>
      </ng-template>
      <mat-progress-bar
        class="progress-bar"
        *ngIf="loading; else bottons"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-actions>
  </mat-card>
</div>
