<div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 10px">
  <mat-card class="style-card mat-elevation-z5">
    <mat-card-content class="style-card-content">
      <p>
        مرحباً بك عزيزي المتعلم في هذا الموقع الذي اسأل الله سبحانة ان يكون بذرة
        لمشروع كبير ينمي قدرات المتعلمين بكيفية التعلم واكسابهم المهارات اللازمة
        لمعرفة طرق واساليب التعلم الحديثة وكيفية البحث واستخراج اي معلومة في بحر
        الأنترنت المليء بالمعلومات منها ما هو صحيح ومنها ما هو مغلوط
      </p>
      <p>
        وفي الحقيقة ومن خلال ملامستي وتعاملي المباشر مع الطلاب لفترات طويلة،
        لاحظت ان كثير من الطلاب يتذمرون من كيفية التعلم، بحيث تدور بإذهانهم
        تساؤلات متعددة، مثل كيف اتعلم؟ وهل طريقتي في التعلم صحيحية ام لا؟ وماهي
        طرق التعلم التي تتناسب مع قدراتي؟ وماهي طرق التعلم الحديثة؟ وغيرها من
        الأسئلة الكثيرة.
      </p>
      <p>
        كما انه وفي حالات كثيرة قد يكون المسار الذي اتخذه الطالب في تعلمه لعلم
        معين سبباً لعدم استكماله في هذا التعلم لأنه قد يكون اتخذ مساراً خاطئاً
        في تعلمه هذا، ولا يتناسب مع قدراته.
      </p>
      <p>
        وايضاً لا يخفى على الجميع ان التقنية اصبحت جزءً مهماً في عملية التعلم
        والتعلم واكبر دليل ما نعيشه في هذه الايام من الاعتماد على المنصات
        الإلكترونية لتحقيق عملية التعليم على الوجه الأمثل
      </p>
      <p>
        ولجميع الاسباب السابقة وغيرها، قررت ان اقوم ببناء تطبيق الويب، وهو عبارة
        عن مشروع اقدمه إلى إدارة تعليم الرياض، والذي كما أشرت سايقاً اتمنى ان
        يكون بذرة لمشروع ضخم وكبير يحقق جميع .الأهداف المرجوه وبنفس الوقت يُجيب
        على جميع الأسئلة التي قد ترد في اذهان المتعلمين.
      </p>
      <div style="float: left; text-align: center">
        <p>فيصل فهد نغيمش الشمري</p>
        <p>معلم حاسب آلي</p>
        <p>إدارة تعليم الرياض</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
